/* zrt-cssregistry: */

@media all {

.usermanual-next,
.usermanual-next {
  padding-left: 20px;
  background: url(usermanual-images/icon-usermanual-right.gif) no-repeat left center;
}
.usermanual-previous,
.usermanual-previous {
  padding-left: 20px;
  background: url(usermanual-images/icon-usermanual-left.gif) no-repeat left center;
}
.usermanual-parent,
.usermanual-parent {
  padding-left: 20px;
  background: url(usermanual-images/icon-usermanual-top.gif) no-repeat left center;
}

/* hide description */
#tree span.description {
  display: none;
}
.modalmenu {
  padding: 7px;
}
.modalpage {
  padding: 0 7px 7px 7px;
}

.user-manual-chapters {
  padding-top: 20px;
}
.user-manual-entry li {
  font-size: 13px;
}

#z-portal-workspace .content-usermanualpage .z-content-body ul {
  list-style-type: inherit;
}
ul.usermanual-navigation {
  list-style-type: none!important;
  padding-top: 10px;
}

}
